doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
    link(rel="stylesheet", href="https://unpkg.com/mvp.css")
  body 
    header 
      h1 zoom 
    main 
      form#nick
        input(type="text" placeholder="write the nickname" required)
        button set 
      ul 
      form#message
        input(type="text" placeholder="write the message" required)
        button send 
    script(src="/public/js/app.js") 